<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des produits</div>
        <div class="panel-body">
           <form #f="ngForm" (ngSubmit)="onChercher(f.value)">
                <div class="form-group">
                    <label>Keyword</label>
                    <input type="text" ngModel name="keyword">
                    <button type="submit" class="btn btn-success">chercher</button>
                </div>
           </form>
            <button (click)="onGetProducts()" class="btn btn-primary">Chercher</button >
            <table class="table" *ngIf="produits">
                <thead>
                    <tr>
                        <th>Id</th>
                       <th>Designation</th>
                        <th>Prix</th>
                        <th>Quantite</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of produits['_embedded'].produits">
                        <td>{{p.id}}</td>
                        <td>{{p.designation}}</td>
                        <td>{{p.prix | number: '0.2'}}</td>
                        <td>{{p.quantite}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="onDeleteProduct(p['_links'].self.href)">Delete</a>
                        </td>
                    </tr>
                </tbody>
              
            </table>
            <ul *ngIf="pages" class="nav nav-pills">
                <li [ngClass]="i==currentPage ? 'active' : ''" *ngFor="let p of pages;let i = index">
                    <a class="clickable" (click)="onPageProduct(i)">{{i}}</a>
                </li>
            </ul>
           
        </div>
    </div>
</div>