<div class="panel panel-default col-md-6 ">
    <div class="panel-heading">
        Nouveau produit
    </div>
    <form #f="ngForm" (ngSubmit)="onSaveProduct(f.value)">
        <div class="form-group">
            <label  class="control-label">
                Désignation
            </label>
            <input type="text" name="designation" ngModel  ngModel class="form-control">
        </div>
        <div class="form-group">
            <label  class="control-label">
                Quantite
            </label>
            <input type="text" name="quantite" ngModel class="form-control">
        </div>
        <div class="form-group">
            <label  class="control-label">
                Prix
            </label>
            <input type="text" name="prix" ngModel  ngModel class="form-control">
        </div>
        <button class="btn btn-success" type="submit">Save</button>

    </form>
</div>